@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus, input {
    outline: none;
    border: 0;
}

button, button:active {
    border: none;
}

body {
    font-family: Roboto;
}

.wraper {
    width: 336px;
}

.todo {
    width: 336px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.header {
    height: 28px;
    background: #FFDC40;
    margin-bottom: 17px;
}

.titel {
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.button {
    margin: 18px auto;
    cursor: pointer;
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 20px;
}

.sort_img {
    background: no-repeat center url("assets/orderdown.png");
    width: 25px;
    height: 15px;
    cursor: pointer;
}

.sort_but {
    opacity: 0.2;
}

.list {
    margin: 10px 20px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.row {
    display: flex;
    height: 40px;
    overflow: hidden;
    border: 0;
    z-index: 5;
}

.row:hover {
    background: #FFDC40;
}

.drugbutton {
    display: flex;
    background: no-repeat center url("assets/dragbutton.png");
    width: 40px;
    cursor: pointer;
}

.row_input {
    flex-grow: 1;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background: transparent;
}

.removebutton {
    display: flex;
    background: no-repeat center url("assets/rembut.png");
    width: 40px;
    cursor: pointer;
}

.removebutton:hover {
    background: no-repeat center url("assets/rembuthover.png");
}

.bottom--select {
    border-bottom: 3px solid #AA68FE;
}

.top--select {
    border-top: 3px solid #AA68FE;
}